.cdc_shop_loop_box {
    overflow: hidden;
    margin: -10px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    height: 80%;
    width: 100%;
}
.cdc_shop_loop_box ul {
    list-style:none;
    padding:0px;
    margin: 5px 0;
    border-top: 1px solid #e5e5e5;
}

.cdc_shop_loop_box strong{
    display: block;
}

.cdc_thetip * {
    height:initial !important;
}
.cdc_thetip {
    display:none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    font-size: 11px;
    width: 250px;
    height: auto;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #666;
    background: #fff;
    color: #000 !important;
}

.cdc_shop_loop_box ul li{
    margin:2px;
}

.cdc_thetip .cdc_thetitle {
    background-color:#96588a;
    color: #fff;
    margin: -5px;
    margin-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px;
}
.cdc_thetip img{
    display:none!important;
}

/*hide on small screen / mobile*/
@media (max-width: 600px) {
    .cdc_thetip{
        display:none!important;
    }
}